body {
    font-family: cursive;
    color: black;
    background-image: linear-gradient(to right,#FFC7EA,#CAEDFF,#D8B4F8);
}

.link-nav{
    text-decoration: none;
    color: violet;
    box-shadow: 5px 5px 5px 0 gray ;
    padding: 5px;

}

.link-header{
    text-decoration: none;
    color: purple;
}

nav{
     display: flex;
     justify-content: space-around;
    
}

.socail{
    margin: 40px;
}


.footer{
    display: flex;
    justify-content: space-around;
    width: 300px;
}

section{
    display: flex;
    flex-wrap: wrap;

}
article:hover{
    border: 10px dotted #FF90BC;
    box-shadow: 0px 10px 5px 0px black ;
    transition: 2s ease-out;
  
    

}

article{
    margin: 10px;
    border: 5px dotted #7BD3EA;
}




article p{
    text-align: center;

}


